# make output
*.png
*.osk

# generated assets
followpoint
followpoint-*.svg
hit0
hit0-*.svg
hit50
hit50-*.svg
hit100
hit100-*.svg
hit100k
hit100k-*.svg
sliderendmiss
sliderendmiss-*.svg
slidertickmiss
slidertickmiss-*.svg
taiko-nameplate.svg
taiko-hit0
taiko-hit100
taiko-hit100k
taiko-hit300
taiko-hit300k
taiko-hit0@2x
taiko-hit100@2x
taiko-hit100k@2x
taiko-hit300@2x
taiko-hit300k@2x
